{% extends "base.html.twig" %}


{% block title %}
    reset password
{% endblock %}

{% block body %}
    <div class="block">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary mt10">Réinitialiser le mot de passe</button>
        {{ form_end(form) }}
    </div>
{% endblock %}