{% extends 'base.html.twig' %}

{% block title %}Accept friend{% endblock %}

{% block body %}
    <div class="block mt20">
    <h2 class="pb30">Friend</h2>
        <h3>{{ mail }}</h3>
    </div>
{% endblock %}